<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help Component's page</title>
    <script type="text/html" src="{require('./index.js')}"></script>

</head>
<body>
    <div class="component-container">
        <div class="c-help">
            <i class="c-help__icon c-icon c-icon--lifebuoy"></i>
            <div>
                <span class="c-help__title">تعلم المزيد حول</span>
                <a href="../index.html" class="c-help__link">المنتجات</a>
            </div>
        </div>
        </div>
</body>
</html>